<nav>
  <button id="signInButton">
    <i>Sign in</i>
  </button>
  <button>
    <i>Upload File</i>
  </button>
  <button>
    <i>Library</i>
  </button>
  <button>
    <i>Comments</i>
  </button>
</nav>