<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="#" type="image/x-icon">
  <title>Read · Y</title>
</head>

<body>
  <%- include('partials/navbar') %>
    <%- include(content) %>
      <%- include('partials/footer') %>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="module" src="clerk.js"></script>
</body>

</html>